@import '../../styles/variables.scss';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 24px 4%;
  background-color: $color-primary;
  position: sticky;
  top: 0;
  z-index: 5;

  .brand {
    &-logo {
      width: 80px;
      margin-right: 24px;
      border-radius: 12px;

      @media screen and (min-width: $breakpoint-lt-mobile) {
        width: 100px;
      }
    }

    &-name {
      color: $color-secondary;
      font-size: 32px;

      @media screen and (min-width: $breakpoint-lt-mobile) {
        font-size: 40px;
      }
    }
  }
}
